@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{ 
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
}

body{  
    font-family: 'Poppins', sans-serif;
}

.container{
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
}

h1{
    font-size: 2.2rem;
    margin: 1.2rem 2rem; 
    font-weight: 200;
}

.btn{ 
    cursor: pointer; 
    padding: 1rem 2rem; 
    font-size: 1rem; 
    outline: none; 
    border-radius: 0.5rem;
    border: 1px solid lightgray;
}

.btn:hover{ 
    background-color: rgb(240, 233, 233);
}
