@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');

*{ 
    box-sizing: border-box;
    margin: 0; 
    padding: 0; 
}

body{ 
    font-family: 'Nunito', sans-serif;
    background-color: rgb(166, 214, 238);
}

main{ 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem; 
    padding: 1rem;
}

.main-heading{ 
    margin: 2.3rem; 
    font-size: 50px;
}

.rev{ 
    text-decoration: underline;
}

.Container{ 
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px; 
    background-color: white;
    padding: 2rem;
    box-shadow: 5px 5px rgb(166, 214, 238);
}

.img{ 
    border-radius: 100px;
}

.name{ 
    margin-top: 0.5rem;
    color: rgb(0, 0, 73); 
}

.prof{ 
    font-size: medium;
    color: rgb(69, 176, 219);
}

.rvw{ 
    text-align: center;
    margin: 2rem auto; 
    color: #6d859d;
    font-size: 1.2rem;
}

.btns{ 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.previous, .next{ 
    height: 1.7rem;
    width: auto;
}

.btn{ 
    border: 2px solid #8ec8f3; 
    border-radius: 5px;
    padding: 0.2rem 0.5rem;
    background-color: #ebf7ff;
    color: #64b2ed;
    font-weight: 550;
}